@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
    font-family: "Gabarito";
    font-weight: 400;
    scroll-behavior: smooth !important;
    scroll-padding-top: 120px;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
}

body {
    color: black;
    background-color: white;
    min-height: 100vh;
}

.card {
    overflow: hidden;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transfom 200ms ease-in;
    max-width: 12rem;
    margin: 0.625rem;
}

.cardimage {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.cardtitle {
    padding: 1rem;
}

.carddescription {
    padding: 0 1rem;
}

.cardbutton {
    margin: 1rem;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid;
    background: transparent;
    transition:
        background 200ms ease-in,
        color 200ms ease-in;
}

.card:hover {
    transform:scale(1.02);
}

.cardbutton:hover {
    background: green;
    color: white;
}

.carousel {
    /* temp grid*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem,14rem));
    grid-gap: 0.2rem;
    justify-content: center;
}

/*
    Todo: fix spacing between menu button and title
    Separate navbar1 and navbar 2
*/

nav {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    width: 100%;
    font-size: 16px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li {
    height: 100%;
    width: 100%;
    padding: 0 5px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.sbButton {
    margin-left: auto;
    size: 5px;
    padding: 0;
    justify-content: flex-start;
}

.title {
    margin-left: auto;
    justify-content: flex-start;

}

.searchBar {
    height:100%;
    width:100%;
    background-image: url(/images/search-icon.svg);
    background-repeat: no-repeat;
}

/*
    Todo: fix spacing
*/

.sidebar {
    position: fixed;
    background-color: rgb(182, 199, 186);
    top: 0;
    right: 1;
    height: 100%;
    width: 250px;
    z-index: 0;
    display: none;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
}

.sidebar li {
    
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menuButton {
    display: none;
}

.announcement {
    width: 100%;
    border: 0.125rem;
    border-style:dashed;
    background-color: rgb(212, 219, 144);
    text-align: center;
}

.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

@media(max-width: 600px)
{
    .hideOnMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }
}

@media(max-width: 400px)
{
    .sidebar {
        width:100%;
    }
}